body {
    hover { animation: color-change 3s infinite; }
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #000000; /* Web sayfasının arka plan rengi */
    color: #000000; /* Metin rengi */
    text-decoration-color:#c40000
}

h1 {
    animation: color-change 3s infinite;

   
    color: #00a800; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
p {
    animation: color-change 3s infinite;

    hover { animation: color-change 3s infinite; }
    font-size: 45px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border: 5px solid #000000;
}
p:hover{ 
    animation: color-change 3s infinite;
 }
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    animation: color-change 3s infinite;

}